<header class="toolbar1 toolbar-header">
  <md-button class="md-fab md-raised backBtn test-tooltip" aria-label="back" style="margin-left:4vh !important" ng-click="goToAdd()">
    <a class="icon icon-reply"></a>
  </md-button>
<h3  class="title pacific white" style="margin-top:-7vh;">Imprint</h3>
</header>
<br>
<br>
<md-card class="cardw" >
        <md-card-title>
          <md-card-title-text>
          <span class="md-headline white">Upload dxdiag text document here!!</span>
            <!-- <span class="md-subhead">Medium</span> -->
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary btn1" style="background-color:#03a9f4 !important;color:#fff;">Upload</md-button>
          <md-button class="md-raised md-primary btn1" style="background-color:#03a9f4 !important;color:#fff;">Browse</md-button>
        </md-card-actions>
</md-card>
