  <link rel="stylesheet" href="css/style.css">
<header class="toolbar1 toolbar-header" style="height:6vh;background-color:#fff;">
<h3 class="title center reem white" style="font-size:16px;line-height:3.1;color:#000;"><b>LIST OF DEVICES CONNECTED</b></h3>
</header>
<div>
  <!-- <md-card flex="30" class="cardw" ng-click="goToFill()" style="background-color:#f5f5f5 !important;">
    <md-card-title >
     <md-card-title-text>
       <span class="center white font">+</span>
     </md-card-title-text>
   </md-card-title>
 </md-card> -->
 <div flex="100" layout="column">
     <!-- <md-card style="background-color:#f5f5f5 !important;padding-left:4vh !important;padded-top:2vh;">
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline"></span>
           <span class="md-subhead"></span>
         </md-card-title-text>
         <md-card-title-media>
           <div class="md-media-sm card-media"> -->
           <!-- <md-toolbar class="md-table-toolbar md-default">
     <div class="md-toolbar-tools">
       <span>List Of</span>
     </div>
   </md-toolbar> -->

   <!-- exact table from live demo -->
   <md-table-container>
     <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
       <thead md-head md-order="" md-on-reorder="">
         <tr md-row style="font-size:16px;">
           <th style="width:14vh;"><span  style="padding-left:5vh !important;"><b>Manufacturer</b></span></th>
           <th style="width:14vh;"><span  style="padding-left:20vh;"><b>&emsp;UUID</b></span></th>
           <th style="width:14vh;"><span  style="padding-left: 2vh !important;width:8vh;"><b>IP address</b></span></th>
           <th style="width:14vh;"><span  style="padding-left: 2vh !important;width:8vh;"><b>Serial Number</b></span></th>
           <th style="width:14vh;"><span  style="padding-left: 2vh !important;width:8vh;"><b>Version</b></span></th>
           <th style="width:14vh;"><span style="padding-left:4vh;"><b>View</b></span></th>
           <th style="width:14vh;"><span  style="padding-left:3vh;"><b>Update</b></span></th>
         </tr>
       </thead>
       <thead md-head md-order="" md-on-reorder="">
         <tr md-row style="font-size:16px;" ng-repeat="x in sys_det_data">
           <td md-column md-order-by=""  ><span>{{x.manufacturer}}</span></td>
           <td md-column md-numeric md-order-by=""><span>{{x.uuid}}</span></td>
           <td md-column md-numeric md-order-by=""><span>{{x.ip}}</span></td>
           <td md-column md-numeric md-order-by=""><span>{{x.serialNumber}}</span></td>
           <td md-column md-numeric md-order-by=""><span>{{x.version}}</span></td>
           <td style="width:14vh;"><md-button class="md-raised md-primary" ng-click="goToView(uuid)" data-mg-model="uuid">View</md-button></td>
           <td style="width:14vh;"><md-button class="md-raised md-primary" ng-click="goToUpdate()">Update</md-button></td>
         </tr>
       </thead>

     </table>
   </md-table-container>
<!--
   <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination> -->

           </div>
