<header class="toolbar1 toolbar-header">
<md-button class="md-fab md-raised backBtn test-tooltip" aria-label="back" style="margin-left:4vh !important" ng-click="goToHw1()">
  <a class="icon icon-reply" style="color:#000 !important;"></a>
</md-button>
<h3 class="title reem white" style="margin-top:-7vh;">Hardware Details</h3>
</header>
<header class="toolbar1 toolbar-header" style="background-color:#01579b">
    <h3 class="title reem white left">&emsp;&emsp;Enter your PC  Specifications in the below form </h3>

</header>
  <md-content layout-padding="" md-theme="docs-dark">
    <div style="margin-top:-2vh !important;">
      <form name="userForm2">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Motherboard Manufacturer</label>
            <input ng-model="user.Mboard" >
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Type</label>
            <md-select ng-model="user.Mname">
              <md-option>AT</md-option>
              <md-option>ATX</md-option>
              <md-option>LPX</md-option>
              <md-option>BTX</md-option>
              <md-option>Pico BTX</md-option>
              <md-option>Mini ITX</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex-gt-sm="">
            <label>Serial No.</label>
            <input ng-model="user.Msn">
          </md-input-container>
          <md-input-container flex-gt-md="">
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter Date"></md-datepicker>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Keyboard Manufacturer</label>
            <input ng-model="user.Keyboard" >
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Model Number</label>
            <input ng-model="user.Ksn" >
          </md-input-container>
          <md-input-container flex-gt-sm="">
            <label>Serial No.</label>
            <input ng-model="user.DSN">
          </md-input-container>
          <md-input-container flex-gt-md="">
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter Date"></md-datepicker>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Mouse Manufacturer</label>
            <input ng-model="user.Mouse" >
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Model Number</label>
            <input ng-model="user.Msn" >
          </md-input-container>
          <md-input-container flex-gt-sm="">
            <label>Serial No.</label>
            <input ng-model="user.MSN">
          </md-input-container>
          <md-input-container flex-gt-md="">
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter Date"></md-datepicker>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Monitor</label>
            <input ng-model="user.Monitor" >
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Model Number</label>
            <input ng-model="user.Msn" >
          </md-input-container>
          <md-input-container flex-gt-sm="">
            <label>Serial No.</label>
            <input ng-model="user.Dsn">
          </md-input-container>
          <md-input-container flex-gt-md="">
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter Date"></md-datepicker>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Printer Manufacturer</label>
            <input ng-model="user.PrinManufacturer" >
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Model Number</label>
            <input ng-model="user.Printsn" >
          </md-input-container>
          <md-input-container flex-gt-sm="">
            <label>Serial No.</label>
            <input ng-model="user.Printsn">
          </md-input-container>
          <md-input-container flex-gt-md="">
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter Date"></md-datepicker>
          </md-input-container>
        </div>
      </form>
    </div>
  </md-content>
  <div style="background-color:#01579b;height:15vh;">
	<!-- <md-button class="md-raised md-primary btn1" style="color:#fff;margin-top:3vh;" ng-click="goToAuto()">To Update Automatically Click Here</md-button> -->
	<md-button class="md-raised md-primary btn1" style="color:#fff;margin-top:3vh;margin-left:85vw;" ng-click="showSimpleToast()">Submit</md-button>
   </div>

           \
