<header class="toolbar1 toolbar-header">
<md-button class="md-fab md-raised backBtn test-tooltip" aria-label="back" style="margin-left:4vh !important" ng-click="goToAdd()">
  <a class="icon icon-reply"></a>
</md-button>
<h3 class="title reem white" style="margin-top:-7vh;">Hardware Details</h3>
</header>
<header class="toolbar1 toolbar-header" style="background-color:#01579b">
    <h3 class="title reem white left">&emsp;&emsp;Enter your PC  Specifications in the below form </h3>

</header>
  <md-content md-theme="docs-dark">
    <div>&emsp;
      <md-input-container>
        <label>PC Name</label>
        <input ng-model="user.pcName">
      </md-input-container>
      <md-input-container flex-md="">
      <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
      </md-input-container>
    </div>
  </md-content>

  <md-content layout-padding="" md-theme="docs-dark">
    <div style="margin-top:-2vh !important;">
      <form name="userForm">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs="">
            <label>PC Manufacturer</label>
            <input ng-model="user.company" >
          </md-input-container>

        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Processor Manufacturer</label>
            <md-select ng-model="user.Pname">
              <md-option>Intel</md-option>
              <md-option>AMD</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Type</label>
            <md-select ng-model="user.PType" value="md-option">
              <md-option>Celeron</md-option>
              <md-option>Atom</md-option>
              <md-option>Pentium</md-option>
              <md-option>Dual Core</md-option>
              <md-option>Core 2 Duo</md-option>
              <md-option>i3</md-option>
              <md-option>i5</md-option>
              <md-option>i7</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Generation</label>
            <md-select ng-model="user.PGen" value="md-option">
              <md-option>1st</md-option>
              <md-option>2nd</md-option>
              <md-option>3rd</md-option>
              <md-option>4th</md-option>
              <md-option>5th</md-option>
              <md-option>6th</md-option>
              <md-option>7th</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex-gt-sm="">
            <label>Serial No.</label>
            <input ng-model="user.Psn">
          </md-input-container>
          <md-input-container flex-gt-md="">
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter Date"></md-datepicker>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Disk Manufacturer</label>
            <md-select ng-model="user.Hname">
              <md-option>Seagate</md-option>
              <md-option>Western Digital</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Disk Type</label>
            <md-select ng-model="user.Htype">
              <md-option>HDD</md-option>
              <md-option>SSD</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Disk Size</label>
            <md-select ng-model="user.Hsize" value="md-option">
              <md-option>128 GB</md-option>
              <md-option>256 GB</md-option>
              <md-option>500 GB</md-option>
              <md-option>1 TB</md-option>
              <md-option>2 TB</md-option>
              <md-option>3 TB</md-option>
              <md-option>4 TB</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex-gt-sm="">
            <label>Serial No.</label>
            <input ng-model="user.DSN">
          </md-input-container>
          <md-input-container flex-gt-md="">
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter Date"></md-datepicker>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container flex-gt-sm="">
            <label>RAM Manufacturer</label>
            <input ng-model="user.Rname">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>RAM Type</label>
            <md-select ng-model="user.Htype">
              <md-option>DDR1</md-option>
              <md-option>DDR2</md-option>
              <md-option>DDR3</md-option>
              <md-option>DDR4</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>RAM Size</label>
            <md-select ng-model="user.Hsize" value="md-option">
              <md-option>512 MB</md-option>
              <md-option>1 GB</md-option>
              <md-option>2 GB</md-option>
              <md-option>4 GB</md-option>
              <md-option>8 GB</md-option>
              <md-option>16 GB</md-option>
              <md-option>32 GB</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex-gt-sm="">
            <label>Serial No.</label>
            <input ng-model="user.RSN">
          </md-input-container>
          <md-input-container flex-gt-md="">
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter Date"></md-datepicker>
          </md-input-container>
        </div>
      </form>
    </div>
  </md-content>
  <div style="background-color:#01579b;height:15vh;">
	<md-button class="md-raised md-primary btn1" style="color:#fff;margin-top:3vh;" ng-click="goToAuto()">To Update Automatically Click Here</md-button>
	<md-button class="md-raised md-primary btn1" style="color:#fff;margin-top:3vh;margin-left:85vh;" ng-click="goToHw2()">Next&nbsp;<span class="icon icon-right" style="color:#fff !important;"></span></md-button>
   </div>

           \
