  <link rel="stylesheet" href="css/style.css">
<header class="toolbar1 toolbar-header">
<h3 class="title center pacific white">Imprint</h3>
</header>

<md-tabs md-stretch-tabs="always" class="md-primary tab1" md-selected="selectedIndex">
    <md-tab   ui-sref="main.home">
      <span  class="icon icon-home reem dark">
      &nbsp;Home
      </span>
    </md-tab>
    <md-tab   ui-sref="main.add">
      <span class="icon icon-download reem dark">
        &nbsp;Add
      </span>
    </md-tab>
    <md-tab  ui-sref="main.view">
      <span class="icon icon-docs reem">
        &nbsp;View
      </span>
    </md-tab>
    <md-tab ui-sref="main.update">
      <span class="icon icon-upload reem">
        &nbsp;Update
      </span>
    </md-tab>
    <md-tab  ui-sref="main.about">
      <span class="icon icon-info-circled reem">
        &nbsp;About
      </span>
    </md-tab>
</md-tabs>

<div ui-view></div>
