  <link rel="stylesheet" href="css/style.css">
<header class="toolbar1 toolbar-header" style="height:6vh;">
<h3 class="title center reem white" style="line-height:1.2 !important;">Imprint</h3>
<div style="margin-left:97vw;margin-top:-5vh;">
  <span class="icon icon-bell" style="font-size:24px;line-height:-2.5 !important;"></span>
</div>
</header>

<md-tabs md-stretch-tabs="always" class="md-primary tab1" md-selected="selectedIndex" >
    <md-tab   ui-sref="main.home">
      <span  class="icon icon-home reem dark">
      &nbsp;Home
      </span>
    </md-tab>
    <md-tab   ui-sref="main.add">
      <span class="icon icon-download reem dark">
        &nbsp;Add
      </span>
    </md-tab>
    <!-- <md-tab  ui-sref="main.view">
      <span class="icon icon-docs reem">
        &nbsp;View
      </span>
    </md-tab>
    <md-tab ui-sref="main.update">
      <span class="icon icon-upload reem">
        &nbsp;Update
      </span>
    </md-tab> -->
    <md-tab  ui-sref="main.about">
      <span class="icon icon-info-circled reem">
        &nbsp;About
      </span>
    </md-tab>
</md-tabs>

<div ui-view></div>
