<header class="toolbar1 toolbar-header" style="background-color:#651fff;">
<md-button class="md-fab md-raised backBtn test-tooltip" aria-label="back" style="margin-left:4vh !important;" ng-click="goToHome()">
  <a class="icon icon-reply" style="color:#000 !important;"></a>
</md-button>
<h3 class="title reem white" style="margin-top:-7vh;">Hardware Details</h3>
</header>
<!-- <md-table-container>
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <tdead md-head md-order="" md-on-reorder="">
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>System Name</b></span></td>

      </tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>UUID</b></span></td>

      </tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>IP Address</b></span></td>

      </tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>Manufacture</b></span></td>

      </tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>Version</b></span></td>

      </tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>Serial Number</b></span></td>

      </tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span>Proceesor</span></td>
      </tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>Disk</b></span></td></tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>RAM</b></span></td></tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>Motherboard</b></span></td></tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>Keyboard</b></span></td></tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>Mouse</b></span></td></tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>Monitor</b></span></td></tr>
      <tr md-row style="font-size:18px;"><td style="width:14vh;"><span><b>Printer</b></span></td></tr>
    </tdead>
  </table>
</md-table-container> -->
<div layout="column" flex style="overflow: scroll;height:100vh !important;background-color:#e0e0e0;">
<div class="row">
<md-card flex="100" style="background-color:#fff;" class="cardw" class="col m4" >
  <md-card-title >
   <md-card-title-text>
     <!-- <span class="center white font">+</span> -->
     <table md-table md-row-select multiple ng-model="selected" md-progress="promise" style="">
       <tdead md-head md-order="" md-on-reorder="" >

         <tr md-row style="font-size:18px;background-color:#eeeeee !important;text-align:center;"><td style="width:14vh;"><span><b>System Details</b></span></td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in sysDet"><span><b>UUID</b></span><span style="padding-left:30vh;">: </span>{{y.uuid}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in sysDet"><span><b>IP Address</b></span><span style="padding-left:22.5vh;">: </span>{{y.ip}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in sysDet"><span><b>Manufacturer</b></span><span style="padding-left:19.5vh;">: </span>{{y.manufacturer}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in sysDet"><span><b>Version</b></span><span style="padding-left:27vh;">: </span>{{y.version}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in sysDet"><span><b>Serial Number</b></span><span style="padding-left:18.5vh;">: </span>{{y.serialNumber}}</td>

         </tr>
       </tdead>
     </table>
   </md-card-title-text>
 </md-card-title>
</md-card>
</div>
<div class="row">
<md-card flex="100" style="background-color:#fff;" class="cardw" class="col m4">
  <md-card-title >
   <md-card-title-text>
     <!-- <span class="center white font">+</span> -->
     <table md-table md-row-select multiple ng-model="selected" md-progress="promise" style="">
       <tdead md-head md-order="" md-on-reorder="">

         <tr md-row style="font-size:18px;background-color:#eeeeee !important;text-align:center;"><td style="width:14vh;"><span><b>Processor Details</b></span></td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in procDetails"><span><b>Name</b></span><span style="padding-left:30vh;">: </span>{{y.name}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in procDetails"><span><b>Description</b></span><span style="padding-left:22.5vh;">: </span>{{y.description}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in procDetails"><span><b>Processor ID</b></span><span style="padding-left:21vh;">: </span>{{y.processorID}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in procDetails"><span><b>System Name</b></span><span style="padding-left:20vh;">: </span>{{y.systemName}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in procDetails"><span><b>Device ID</b></span><span style="padding-left:25.5vh;">: </span>{{y.DeviceID}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="y in procDetails"><span><b>Manufacturer</b></span><span style="padding-left:20.5vh;">: </span>{{y.manufacturer}}</td>

         </tr>
       </tdead>
     </table>
   </md-card-title-text>
 </md-card-title>
</md-card>
</div>
<div class="row">
<md-card flex="100" style="background-color:#fff;" class="cardw">
  <md-card-title >
   <md-card-title-text>
     <!-- <span class="center white font">+</span> -->
     <table md-table md-row-select multiple ng-model="selected" md-progress="promise" style="">
       <tdead md-head md-order="" md-on-reorder="">

         <tr md-row style="font-size:18px;background-color:#eeeeee !important;text-align:center;"><td style="width:14vh;"><span><b>Motherboard Details</b></span></td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in boardDetails"><span><b>Product</b></span><span style="padding-left:27.5vh;">:</span>{{x.uuid}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in boardDetails"><span><b>Name</b></span><span style="padding-left:30.3vh;">:</span>{{x.name}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in boardDetails"><span><b>Description</b></span><span style="padding-left:22.8vh;">:</span>{{x.description}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in boardDetails"><span><b>Serial Number</b></span><span style="padding-left:19.2vh;">:</span>{{x.serialNumber}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in boardDetails"><span><b>Version</b></span><span style="padding-left:27.8vh;">:</span>{{x.version}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in boardDetails"><span><b>Model</b></span><span style="padding-left:29.7vh;">:</span>{{x.model}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in boardDetails"><span><b>Manufacturer</b></span><span style="padding-left:20.5vh;">:</span>{{x.manufacturer}}</td>

         </tr>
       </tdead>
     </table>
   </md-card-title-text>
 </md-card-title>
</md-card>
</div>
<div class="row">
<md-card flex="100" style="background-color:#fff;" class="cardw">
  <md-card-title >
   <md-card-title-text>
     <table md-table md-row-select multiple ng-model="selected" md-progress="promise" style="">
       <tdead md-head md-order="" md-on-reorder="">

         <tr md-row style="font-size:18px;background-color:#eeeeee !important;text-align:center;"><td style="width:14vh;"><span><b>GPU Details</b></span></td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in gpuDetails"><span><b>System Name</b></span><span style="padding-left:20vh;">:</span>{{x.systemName}}</td>

         </tr>

         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in gpuDetails"><span><b>Description</b></span><span style="padding-left:22.8vh;">:</span>{{x.description}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in gpuDetails"><span><b>PNP Device ID</b></span><span style="padding-left:19.3vh;">:</span>{{x.pnpDeviceID}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in gpuDetails"><span><b>Name</b></span><span style="padding-left:30.3vh;">:</span>{{x.name}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="x in gpuDetails"><span><b>Adapater RAM</b></span><span style="padding-left:19.2vh;">:</span>{{x.adapterRAM}}</td>

         </tr>
       </tdead>
     </table>
   </md-card-title-text>
 </md-card-title>
</md-card>
</div>
<div class="row">
<md-card flex="100"  ng-click="goToFill()">
  <md-card-title >
   <md-card-title-text>
     <table md-table md-row-select multiple ng-model="selected" md-progress="promise" style="">
       <tdead md-head md-order="" md-on-reorder="">

         <tr md-row style="font-size:18px;background-color:#eeeeee !important;text-align:center;"><td style="width:14vh;"><span><b>Mouse Details</b></span></td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in mouseDetails"><span><b>Hardware ID</b></span><span style="padding-left:22.5vh;">: </span>{{z.hardwareID}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in mouseDetails"><span><b>Description</b></span><span style="padding-left:23.2vh;">: </span>{{z.description}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in mouseDetails"><span><b>System Name</b></span><span style="padding-left:20.3vh;">: </span>{{z.systemName}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in mouseDetails"><span><b>Name</b></span><span style="padding-left:30.2vh;">:</span>{{z.name}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in mouseDetails"><span><b>Manufacturer</b></span><span style="padding-left:20.5vh;">: </span>{{z.manufacturer}}</td>

         </tr>
       </tdead>
     </table>
     <!-- <span class="center white font">+</span> -->
   </md-card-title-text>
 </md-card-title>
</md-card>
</div>
<div class="row">
<md-card flex="100"  ng-click="goToFill()">
  <md-card-title >
   <md-card-title-text>
     <table md-table md-row-select multiple ng-model="selected" md-progress="promise" style="">
       <tdead md-head md-order="" md-on-reorder="">

         <tr md-row style="font-size:18px;background-color:#eeeeee !important;text-align:center;" ><td style="width:14vh;"><span><b>Keyboard Details</b></span></td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="a in keyboardDetails"><span><b>Hardware ID</b></span><span style="padding-left:22.5vh;">: </span>{{z.hardwareID}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in keyboardDetails"><span><b>Description</b></span><span style="padding-left:23.2vh;">: </span>{{z.description}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in keyboardDetails"><span><b>System Name</b></span><span style="padding-left:20.3vh;">: </span>{{z.systemName}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in keyboardDetails"><span><b>Name</b></span><span style="padding-left:30.2vh;">: </span>{{z.name}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in keyboardDetails"><span><b>Manufacturer</b></span><span style="padding-left:20.5vh;">: </span>{{z.manufacturer}}</td>

         </tr>
       </tdead>
     </table>
     <!-- <span class="center white font">+</span> -->
   </md-card-title-text>
 </md-card-title>
</md-card>
</div>
<div class="row">
<md-card flex="100" style="background-color:#fff;" class="cardw">
  <md-card-title >
   <md-card-title-text>
     <table md-table md-row-select multiple ng-model="selected" md-progress="promise" style="">
       <tdead md-head md-order="" md-on-reorder="">

         <tr md-row style="font-size:18px;background-color:#eeeeee !important;text-align:center;"><td style="width:14vh;"><span><b>CD-Drive Details</b></span></td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in driveDetails"><span><b>PNP Device ID</b></span><span style="padding-left:19.5vh;">: </span>{{z.pnpDeviceID}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in driveDetails"><span><b>Name</b></span><span style="padding-left:30.3vh;">: </span>{{z.name}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in driveDetails"><span><b>Description</b></span><span style="padding-left:22.8vh;">: </span>{{z.description}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in driveDetails"><span><b>Hardware ID</b></span><span style="padding-left:22vh;">: </span>{{z.hardwareID}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in driveDetails"><span><b>System Name</b></span><span style="padding-left:20vh;">: </span>{{z.systemName}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in driveDetails"><span><b>Manufacturer</b></span><span style="padding-left:20.5vh;">: </span>{{z.manufacturer}}</td>

         </tr>
       </tdead>
     </table>
   </md-card-title-text>
 </md-card-title>
</md-card>
</div>
<div class="row">
<md-card flex="100" style="background-color:#fff;" class="cardw">
  <md-card-title >
   <md-card-title-text>
     <table md-table md-row-select multiple ng-model="selected" md-progress="promise" style="">
       <tdead md-head md-order="" md-on-reorder="">

         <tr md-row style="font-size:18px;background-color:#eeeeee !important;text-align:center;"><td style="width:14vh;"><span><b>RAM Details</b></span></td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in ramDetails"><span><b>Name</b></span><span style="padding-left:29.5vh;">: </span>{{z.name}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in ramDetails"><span><b>Manufacturer</b></span><span style="padding-left:21.3vh;">: </span>{{z.manufacturer}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in ramDetails"><span><b>Serial Number</b></span><span style="padding-left:20.8vh;">: </span>{{z.serialNumber}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in ramDetails"><span><b>Capacity</b></span><span style="padding-left:27vh;">: </span>{{z.capaity}} KB</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in ramDetails"><span><b>Description</b></span><span style="padding-left:25vh;">: </span>{{z.description}}</td>

         </tr>
       </tdead>
     </table>
   </md-card-title-text>
 </md-card-title>
</md-card>
</div>
<div class="row">
<md-card flex="100" style="background-color:#fff;" class="cardw">
  <md-card-title >
   <md-card-title-text>
     <table md-table md-row-select multiple ng-model="selected" md-progress="promise" style="">
       <tdead md-head md-order="" md-on-reorder="">

         <tr md-row style="font-size:18px;background-color:#eeeeee !important;text-align:center;"><td style="width:14vh;"><span><b>Hard Disk Details</b></span></td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in harddiskDetails"><span><b>Name</b></span><span style="padding-left:29.5vh;">: </span>{{z.name}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;"  ng-repeat="z in harddiskDetails"><span><b>Manufacturer</b></span><span style="padding-left:21.3vh;">: </span>{{z.manufacturer}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in harddiskDetails"><span><b>Description</b></span><span style="padding-left:20.8vh;">: </span>{{z.description}}</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in harddiskDetails"><span><b>Capacity</b></span><span style="padding-left:27vh;">: </span>{{z.size}} KB</td>

         </tr>
         <tr md-row style="font-size:18px;background-color:#fff !important;"><td style="width:14vh;" ng-repeat="z in harddiskDetails"><span><b>Device ID</b></span><span style="padding-left:25vh;">: </span>{{z.deviceID}}</td>

         </tr>
       </tdead>
     </table>
   </md-card-title-text>
 </md-card-title>
</md-card>
</div>
</div>
