<!-- <div>
<h1 class="reem">Take a look at your hardware resources!!</h1>
</div> -->

<!-- <div layout="row">
  <md-card flex="30" class="cardw" ng-click="goToFill()">
    <md-card-title >
     <md-card-title-text>
       <span class="center white font" style="font-size:24px !important;">PC - 1</span>
     </md-card-title-text>
   </md-card-title>
   <md-card-actions layout="row" layout-align="end center">
    <md-button style="color:white">View</md-button>
    <md-button style="color:white">Update</md-button>
  </md-card-actions>
 </md-card>
 <md-card flex="30" class="cardw" ng-click="goToFill()">
   <md-card-title >
    <md-card-title-text>
      <span class="center white font" style="font-size:24px !important;">PC - 2</span>
    </md-card-title-text>
  </md-card-title>
   <md-button flex="30vh"style="color:white;background-color:#1e88e5;">View</md-button>
   <md-button style="color:white;background-color:#1e88e5;">Update</md-button>

</md-card>
</div> -->
