@font-face {
  font-family: "Reem";
  src: url("../fonts/ReemKufi-Regular.ttf");
  }
  .reem{
  	  font-family:"Reem" !important;
    }
    @font-face {
      font-family: "Pacific";
      src: url("../fonts/Pacifico-Regular.ttf");
      }
      .pacific{
      	  font-family:"Pacific" !important;
        }
        @font-face {
          font-family: "Pacific";
          src: url("../fonts/Pacifico-Regular.ttf");
          }

        .pacific{
              font-family:"Pacific" !important;
          }
        .title{
          font-size: 25px;
          margin: 0;
          font-size: 24px;
          font-weight: 400;
          text-align: center;
          color: #fff;
          cursor: default;
        }
        a:hover{
          background-color: none;
        }
        .center{
          display: block;
          margin: auto;
        }
        h4{
          margin-top: 25vh !important;
        }
        }
        *, *:before, *:after {
        box-sizing: border-box;
        }
        .title {
          margin: 0;
          font-size: 24px;
          font-weight: 400;
          text-align: center;
          color: #fff;
          cursor: default;
        }
        .whitebg {
        background: #fff;
        }
        .body{
          background: #555;
        }
        .bluebg{
          background: #4183D7;
        }

        .container {
        /*position: absolute;

        left: 50%;*/
        margin-top: 15vh;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-perspective: 2000px;
                perspective: 2000px;
        -webkit-transform: rotateX(-30deg) rotateY(-45deg);
                transform: rotateX(-30deg) rotateY(-45deg);
        }

        .holder {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-transform: translate3d(0em, 3em, 1.5em);
                transform: translate3d(0em, 3em, 1.5em);
        }
        .holder:last-child {
        -webkit-transform: rotateY(-90deg) rotateX(90deg) translate3d(0, 3em, 1.5em);
                transform: rotateY(-90deg) rotateX(90deg) translate3d(0, 3em, 1.5em);
        }
        .holder:first-child {
        -webkit-transform: rotateZ(-90deg) rotateX(-90deg) translate3d(0, 3em, 1.5em);
                transform: rotateZ(-90deg) rotateX(-90deg) translate3d(0, 3em, 1.5em);
        }
        .holder:nth-child(1) .box {
        background-color: #1FBCD3;
        }
        .holder:nth-child(1) .box:before {
        background-color: #126d7a;
        }
        .holder:nth-child(1) .box:after {
        background-color: #1894a7;
        }
        .holder:nth-child(2) .box {
        background-color: #CBE2B4;
        }
        .holder:nth-child(2) .box:before {
        background-color: #98c66a;
        }
        .holder:nth-child(2) .box:after {
        background-color: #b2d48f;
        }
        .holder:nth-child(3) .box {
        background-color: #F6B6CA;
        }
        .holder:nth-child(3) .box:before {
        background-color: #eb5b88;
        }
        .holder:nth-child(3) .box:after {
        background-color: #f089a9;
        }

        .box {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-animation: ani-box 6s infinite;
                animation: ani-box 6s infinite;
        width: 3em;
        height: 3em;
        }
        .box:before, .box:after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        }
        .box:before {
        left: 100%;
        bottom: 0;
        -webkit-transform: rotateY(90deg);
                transform: rotateY(90deg);
        -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
        }
        .box:after {
        left: 0;
        bottom: 100%;
        -webkit-transform: rotateX(90deg);
                transform: rotateX(90deg);
        -webkit-transform-origin: 0 100%;
                transform-origin: 0 100%;
        }
        .dark{
          color:#111 !important;
        }
        @-webkit-keyframes ani-box {
        8.33% {
          -webkit-transform: translate3d(-50%, -50%, 0) scaleZ(2);
                  transform: translate3d(-50%, -50%, 0) scaleZ(2);
        }
        16.7% {
          -webkit-transform: translate3d(-50%, -50%, -3em) scaleZ(1);
                  transform: translate3d(-50%, -50%, -3em) scaleZ(1);
        }
        25% {
          -webkit-transform: translate3d(-50%, -100%, -3em) scaleY(2);
                  transform: translate3d(-50%, -100%, -3em) scaleY(2);
        }
        33.3% {
          -webkit-transform: translate3d(-50%, -150%, -3em) scaleY(1);
                  transform: translate3d(-50%, -150%, -3em) scaleY(1);
        }
        41.7% {
          -webkit-transform: translate3d(-100%, -150%, -3em) scaleX(2);
                  transform: translate3d(-100%, -150%, -3em) scaleX(2);
        }
        50% {
          -webkit-transform: translate3d(-150%, -150%, -3em) scaleX(1);
                  transform: translate3d(-150%, -150%, -3em) scaleX(1);
        }
        58.3% {
          -webkit-transform: translate3d(-150%, -150%, 0) scaleZ(2);
                  transform: translate3d(-150%, -150%, 0) scaleZ(2);
        }
        66.7% {
          -webkit-transform: translate3d(-150%, -150%, 0) scaleZ(1);
                  transform: translate3d(-150%, -150%, 0) scaleZ(1);
        }
        75% {
          -webkit-transform: translate3d(-150%, -100%, 0) scaleY(2);
                  transform: translate3d(-150%, -100%, 0) scaleY(2);
        }
        83.3% {
          -webkit-transform: translate3d(-150%, -50%, 0) scaleY(1);
                  transform: translate3d(-150%, -50%, 0) scaleY(1);
        }
        91.7% {
          -webkit-transform: translate3d(-100%, -50%, 0) scaleX(2);
                  transform: translate3d(-100%, -50%, 0) scaleX(2);
        }
        100% {
          -webkit-transform: translate3d(-50%, -50%, 0) scaleX(1);
                  transform: translate3d(-50%, -50%, 0) scaleX(1);
        }
        }

        @keyframes ani-box {
        8.33% {
          -webkit-transform: translate3d(-50%, -50%, 0) scaleZ(2);
                  transform: translate3d(-50%, -50%, 0) scaleZ(2);
        }
        16.7% {
          -webkit-transform: translate3d(-50%, -50%, -3em) scaleZ(1);
                  transform: translate3d(-50%, -50%, -3em) scaleZ(1);
        }
        25% {
          -webkit-transform: translate3d(-50%, -100%, -3em) scaleY(2);
                  transform: translate3d(-50%, -100%, -3em) scaleY(2);
        }
        33.3% {
          -webkit-transform: translate3d(-50%, -150%, -3em) scaleY(1);
                  transform: translate3d(-50%, -150%, -3em) scaleY(1);
        }
        41.7% {
          -webkit-transform: translate3d(-100%, -150%, -3em) scaleX(2);
                  transform: translate3d(-100%, -150%, -3em) scaleX(2);
        }
        50% {
          -webkit-transform: translate3d(-150%, -150%, -3em) scaleX(1);
                  transform: translate3d(-150%, -150%, -3em) scaleX(1);
        }
        58.3% {
          -webkit-transform: translate3d(-150%, -150%, 0) scaleZ(2);
                  transform: translate3d(-150%, -150%, 0) scaleZ(2);
        }
        66.7% {
          -webkit-transform: translate3d(-150%, -150%, 0) scaleZ(1);
                  transform: translate3d(-150%, -150%, 0) scaleZ(1);
        }
        75% {
          -webkit-transform: translate3d(-150%, -100%, 0) scaleY(2);
                  transform: translate3d(-150%, -100%, 0) scaleY(2);
        }
        83.3% {
          -webkit-transform: translate3d(-150%, -50%, 0) scaleY(1);
                  transform: translate3d(-150%, -50%, 0) scaleY(1);
        }
        91.7% {
          -webkit-transform: translate3d(-100%, -50%, 0) scaleX(2);
                  transform: translate3d(-100%, -50%, 0) scaleX(2);
        }
        100% {
          -webkit-transform: translate3d(-50%, -50%, 0) scaleX(1);
                  transform: translate3d(-50%, -50%, 0) scaleX(1);
        }
        }

  .outer {
      display: table;
      position: absolute;
      height: 100%;
      width: 100%;
  }
  .middle {
      display: table-cell;
      vertical-align: middle;
  }
  .inner {
      margin-left: auto;
      margin-right: auto;
      width: 95%;
  }
  h1 {
      display: block;
      margin: auto;
      margin-top: 45vh;
      text-align: center;
      font-family: "pacific";
  }
.bgcolor{
  background-color: #d7cec7;
}
.reem{
	  font-family:"Reem" !important;
  }
@font-face {
  font-family: "Pacific";
  src: url("../fonts/Pacifico-Regular.ttf");
  }
.pacific{
    font-family:"Pacific";
  }
.white{
  color: white;
}
.titlebtn{
  border-radius: 4vh;

}
.toolbar1{
  height: 8vh;
  background-color:#424242;
}
.container{
  top:0;
  right:0;
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px #333;
}
.centre{
  display: block;
  margin:auto;
}
.nav{
  font-size:20px;
  cursor:pointer;
  margin-left:4.2vh;
  margin-top:1.5vh;
}
.desc{
  margin-top: 0vh;
  margin-left: 1.4vh;
}

.icon{
  color: #000 !important;
  height: 10vh !important;
  padding-top: 3vh;
  font-size: 14px;
}
.btn1{
  background-color:#42a5f5 !important;
  border-radius: 25px;
}
.tab1{
  background-color:#651fff !important;
}
.cardw{
  background-color: #1565c0;
}
.backBtn{
  background-color: none !important;
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #000 !important;
    background-color:#111 !important;
}
#button{
  background-color: transparent;
}
.font{
  font-size: 55px !important;
  font-weight:lighter !important;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.titlebar{
  min-height: 5vh;
  background-color: #ebebeb;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
